<!DOCTYPE html>
<html lang="en">
<head>
     {{>headlinks}}

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">

     <style>
         #map{
              
width: 100vw;
height:  100vh;
;
         }
     </style>
</head>
<body>
    {{>navbar}}

      
     
     


<div id='map'></div>
 
       <footer>
        <p>Happy journey</p>
    </footer>    
     {{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcBv-GoTTjp5mQHhtA1iUYH6RbXwoxpuA&libraries=places"></script> --}}

    {{!-- <script src="js/main.js"></script> --}}
</body>


<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
{{!-- <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' /> --}}
 
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2duYW4iLCJhIjoiY2t0d25ldTV6MXZhODJ2cWV4bHJsOWtndSJ9.nl0sqaghw0pGusa4DxhEGg';

  navigator.geolocation.getCurrentPosition(successLocation,
  errorLocation,{enableHighAccuracy:true
  })

function successLocation(position){
    console.log(position)
    setupMap([position.coords.longitude,position.coords.latitude])
}
function errorLocation(){
     setupMap([-2.24,53.48])
}
function setupMap(center){
   var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center:center,
    zoom:15
  });

  const nav=new mapboxgl.NavigationControl();
  map.addControl(nav)

  var directions = new MapboxDirections({
  accessToken: mapboxgl.accessToken 
});

 

map.addControl(directions, 'top-left');
}



//
const cityname=document.getElementById('cityname')
const submit=document.getElementById('submit');
const status=document.getElementById('status')
//const city=document.getElementById('city')

const getinfo=async(event)=>{
    event.preventDefault();
    let cityv=cityname.value;
if (cityv==="") {
    //city.innerText=`plz enter city before search`;
    //hide.classList.add('data_hiden')

}else{
    try{
        let url = `https://api.openweathermap.org/data/2.5/weather?q=${cityv}&units=metric&appid=095d16ce33d3e082386ed03ac609cff0`;
    const response=await fetch(url);
    const data=await response.json()
    console.log(data)
    const ardata=[data]
console.log(ardata)

ardata.forEach(element =>{
  lat=ardata[0].coord.lat;
    lon=ardata[0].coord.lon;
console.log(lat)
console.log(lon)

    const marker = new mapboxgl.Marker({
 draggable: true,
 color:"red",
 size:"3px"
 })
 .setLngLat([lat, lon])
 .addTo(map);
 })


 

  
    //city.innerText=`${ardata[0].name},${ardata[0].sys.country}`;
  //  real.innerText=ardata[0].main.temp
    //status.innerText=ardata[0].weather[0].main;
    hide.classList.remove('data_hiden')


    
    

}catch{
    //city.innerText=`plz enter proper city name`;
    //hide.classList.add('data_hiden')
//pune
}
}
     
}
submit.addEventListener('click',getinfo)




</script>
 

</html>